<body class="body">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card shadow my-5">
          <div class="card-body text-center">
            <h1 class="card-title" style="font-size:30px; font-weight:bold;">Log In</h1>
              <%= form_tag '/login' do %>
                <div class=" text-style field form-label-group" style="margin:20px 50px 10px 50px">
                  <%= text_field_tag :email, '', type: "text", class: 'form-control', placeholder: 'Email', :required => true%>
                </div>
                <div class=" text-style field form-label-group" style="margin:10px 50px 20px 50px">
                  <%= password_field_tag :password, '', type: "text", class: 'form-control', placeholder: 'Password', :required => true%>
                </div>
                <table class="table w-auto table-borderless mb-0 span2">
                  <tr class="row">
                    <td style="padding: 0 0 0 70px"><%= link_to 'Sign Up', new_user_path, class:"btn btn-outline-secondary" %></td>
                    <td style="padding: 0 0 0 140px"><%= submit_tag "Login", class:"btn btn-primary"%></td>
                  </tr>
                </table>
              <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
