<%= form_with(model: meeting, local: true) do |form| %>
  <% if meeting.errors.any? %>
    <div id="text-style error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul class="text-style">
        <% meeting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-style field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="text-style field">
    <%= form.label "Number of Participants" %>
    <%= form.text_field :participants, :required => true %>
  </div>
  <div class="user lists">
    <ul>
      <% User.all.each do |user| %>
        <li>
          <% if user.id == current_user.id %>
              <%= check_box_tag 'user_ids[]', user.id, true -%>
              <%= user.first %>
          <% else %>
            <%= check_box_tag 'user_ids[]', user.id -%>
            <%= user.first %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>


  <%= render 'upload_form', meeting: @meeting %>

<% end %>
