<%= form_with(model: meeting, local: true) do |form| %>
  <% if meeting.errors.any? %>
    <div id="text-style error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul class="text-style">
        <% meeting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-style field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= render 'upload_form', meeting: @meeting, {:style=>'margin:5px 60px;', :class => "css_class"} %>

<% end %>
