<%= form_with(model: meeting, local: true) do |form| %>
  <% if meeting.errors.any? %>
    <div id="text-style error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul class="text-style">
        <% meeting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class=" text-style field">
    <%= form.label "Meeting Name" %>
    <%= form.text_field :name, :required => true %>
  </div>

  <div class="text-style field">
    <%= form.label "Number of Participants" %>
    <%= form.text_field :participants, :required => true %>
  </div>

  <div class="text-style actions">
    <%= form.submit %>
  </div>
<% end %>
