<body class="body" style="margin:30px 40px">
  <p id="notice"><%= notice %></p>
  <div class="container-fluid">
    <div id="textbox">
      <h1 style="float:left; font-weight:bold;">Meetings</h1>
      <div style="float:right; padding-right:50px;">  <%= link_to 'Create Meeting', new_meeting_path, class:"btn btn-secondary btn-xl", style:"color:white;"%></div>
      <div style="clear: both;"></div>
    </div>
    <div class="row mt-3 mb-4" style="margin:0 10px">
      <% if @user_meeting1 != nil %>
          <div class="col-auto">
            <div class="card shadow mb-2 h-100" style="width: 30rem;">
                <div class="card-header py-2">
                   <h2 class="m-2"><strong><%= @user_meeting1.name %></strong></h2>
                </div>
                <div class="card-body">
                  <% analyzed_1 = false %>
                  <% for file in @user_meeting1.file.attachments %>
                    <% if file.content_type == 'application/json' %>
                      <% analyzed_1 = true %>
                      <% download_file_from_s3('smartmeetingsbelieving', "./tmp/" + file.filename.to_s(), file.filename.to_s()) %>
                      <% json_from_file = File.read("tmp/" + file.filename.to_s()) %>
                      <% hash1 = JSON.parse(json_from_file, object_class: OpenStruct) %>
                      <% participants1 = "" %>
                      <% for i in hash1.total_time_spoken %>
                        <% participants1 = participants1 + i[0].to_s() + " " %>
                      <% end %>
                      <h3><strong> Participants:</strong> <%=participants1%> </h3>
                      <h3> <strong>Duration:</strong> <%= hash1.meeting_time %> </h3>
                      <h3> <strong>Tags:</strong>
                        <% for i in hash1.keywords %>
                          <span class="badge badge-pill pill badge-secondary"><%= i %></span>
                        <% end %>
                      </h3>
                    <% end %>
                  <% end %>
                  <% if !analyzed_1 %>
                    <h3> Not Yet Analyzed </h3>
                  <% end %>
              </div>
              <div class="card-footer bg-transparent border-0 text-center mb-3">
                <% if @user_meeting1.file.attachments.first != nil %>
                  <tr>
                    <td><%= link_to 'Show', @user_meeting1, class:"btn btn-outline-primary btn-xl"%></td>
                    <td><%= link_to 'Edit', edit_meeting_path(@user_meeting1), class:"btn btn-outline-secondary btn-xl"%></td>
                    <td><%= link_to 'Delete', @user_meeting1, class:"btn btn-outline-secondary btn-xl", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% else %>
                    <tr>
                      <td><%= link_to "Upload Files", @user_meeting1, class:"btn btn-outline-primary btn-xl"%></td>
                      <td><%= link_to 'Delete', @user_meeting1, class:"btn btn-outline-secondary btn-xl", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
      <% if @user_meeting2 != nil %>
            <div class="col-auto">
              <div class="card shadow mb-2 h-100" style="width: 30rem;">
                <div class="card-header py-2">
                   <h2 class="m-2"><strong><%= @user_meeting2.name %></strong></h2>
                </div>
                <div class="card-body">
                  <% analyzed_2 = false %>
                  <% for file in @user_meeting2.file.attachments %>
                    <% if file.content_type == 'application/json' %>
                      <% analyzed_2 = true %>
                      <% download_file_from_s3('smartmeetingsbelieving', "./tmp/" + file.filename.to_s(), file.filename.to_s()) %>
                      <% json_from_file = File.read("tmp/" + file.filename.to_s()) %>
                      <% hash2 = JSON.parse(json_from_file, object_class: OpenStruct) %>
                      <% participants2 = "" %>
                      <% for i in hash2.total_time_spoken %>
                        <% participants2 = participants2 + i[0].to_s() + " " %>
                      <% end %>
                      <h3><strong> Participants:</strong> <%=participants2%> </h3>
                      <h3> <strong>Duration:</strong> <%= hash2.meeting_time %> </h3>
                      <h3> <strong>Tags:</strong>
                        <% for i in hash2.keywords %>
                          <span class="badge badge-pill pill badge-secondary"><%= i %></span>
                        <% end %>
                      </h3>
                    <% end %>
                  <% end %>
                  <% if !analyzed_2 %>
                    <h3> Not Yet Analyzed </h3>
                  <% end %>
              </div>
              <div class="card-footer bg-transparent border-0 text-center mb-3">
                <% if @user_meeting2.file.attachments.first != nil %>
                  <tr>
                    <td><%= link_to 'Show', @user_meeting2, class:"btn btn-outline-primary btn-xl"%></td>
                    <td><%= link_to 'Edit', edit_meeting_path(@user_meeting2), class:"btn btn-outline-secondary btn-xl"%></td>
                    <td><%= link_to 'Delete', @user_meeting2, class:"btn btn-outline-secondary btn-xl", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% else %>
                    <tr>
                      <td><%= link_to "Upload Files", @user_meeting2, class:"btn btn-outline-primary btn-xl"%></td>
                      <td><%= link_to 'Delete', @user_meeting2, class:"btn btn-outline-secondary btn-xl", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
      <% if @user_meeting3 != nil %>
          <div class="col-auto">
            <div class="card shadow mb-2 h-100" style="width: 30rem;">
                <div class="card-header py-2">
                  <h2 class="m-2"><strong><%= @user_meeting3.name %></strong></h2>
                </div>
                <div class="card-body">
                  <% analyzed_3 = false %>
                  <% for file in @user_meeting3.file.attachments %>
                    <% if file.content_type == 'application/json' %>
                      <% analyzed_3 = true %>
                      <% download_file_from_s3('smartmeetingsbelieving', "./tmp/" + file.filename.to_s(), file.filename.to_s()) %>
                      <% json_from_file = File.read("tmp/" + file.filename.to_s()) %>
                      <% hash3 = JSON.parse(json_from_file, object_class: OpenStruct) %>
                      <% participants3 = "" %>
                      <% for i in hash3.total_time_spoken %>
                        <% participants3 = participants3 + i[0].to_s() + " " %>
                      <% end %>
                      <h3><strong> Participants:</strong> <%=participants3%> </h3>
                      <h3> <strong>Duration:</strong> <%= hash3.meeting_time %> </h3>
                      <h3> <strong>Tags:</strong>
                        <% for i in hash3.keywords %>
                          <span class="badge badge-pill pill badge-secondary"><%= i %></span>
                        <% end %>
                      </h3>
                    <% end %>
                  <% end %>
                  <% if !analyzed_3 %>
                    <h3> Not Yet Analyzed </h3>
                  <% end %>
              </div>
              <div class="card-footer bg-transparent border-0 text-center mb-3">
                <% if @user_meeting3.file.attachments.first != nil %>
                  <tr>
                    <td><%= link_to 'Show', @user_meeting3, class:"btn btn-outline-primary btn-xl"%></td>
                    <td><%= link_to 'Edit', edit_meeting_path(@user_meeting3), class:"btn btn-outline-secondary btn-xl"%></td>
                    <td><%= link_to 'Delete', @user_meeting3, class:"btn btn-outline-secondary btn-xl", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% else %>
                    <tr>
                      <td><%= link_to "Upload Files", @user_meeting3, class:"btn btn-outline-primary btn-xl"%></td>
                      <td><%= link_to 'Delete', @user_meeting3, class:"btn btn-outline-secondary btn-xl", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <div class="row mt-3 mb-4" style="margin:0 10px">
        <% if @user_meeting4 != nil %>
            <div class="col-auto">
              <div class="card shadow mb-2 h-100" style="width: 30rem;">
                  <div class="card-header py-2">
                    <h2 class="m-2"><strong><%= @user_meeting4.name %></strong></h2>
                  </div>
                  <div class="card-body">
                    <% analyzed_4 = false %>
                    <% for file in @user_meeting4.file.attachments %>
                      <% if file.content_type == 'application/json' %>
                        <% analyzed_4 = true %>
                        <% download_file_from_s3('smartmeetingsbelieving', "./tmp/" + file.filename.to_s(), file.filename.to_s()) %>
                        <% json_from_file = File.read("tmp/" + file.filename.to_s()) %>
                        <% hash4 = JSON.parse(json_from_file, object_class: OpenStruct) %>
                        <% participants4 = "" %>
                        <% for i in hash4.total_time_spoken %>
                          <% participants4 = participants4 + i[0].to_s() + " " %>
                        <% end %>
                        <h3><strong> Participants:</strong> <%=participants4%> </h3>
                        <h3> <strong>Duration:</strong> <%= hash4.meeting_time %> </h3>
                        <h3> <strong>Tags:</strong>
                          <% for i in hash4.keywords %>
                            <span class="badge badge-pill pill badge-secondary"><%= i %></span>
                          <% end %>
                        </h3>
                      <% end %>
                    <% end %>
                    <% if !analyzed_4 %>
                      <h3> Not Yet Analyzed </h3>
                    <% end %>
                </div>
                <div class="card-footer bg-transparent border-0 text-center mb-3">
                  <% if @user_meeting4.file.attachments.first != nil %>
                    <tr>
                      <td><%= link_to 'Show', @user_meeting4, class:"btn btn-outline-primary btn-xl"%></td>
                      <td><%= link_to 'Edit', edit_meeting_path(@user_meeting4), class:"btn btn-outline-secondary btn-xl"%></td>
                      <td><%= link_to 'Delete', @user_meeting4, class:"btn btn-outline-secondary btn-xl", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% else %>
                      <tr>
                        <td><%= link_to "Upload Files", @user_meeting4, class:"btn btn-outline-primary btn-xl"%></td>
                        <td><%= link_to 'Delete', @user_meeting4, class:"btn btn-outline-secondary btn-xl", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
        <% if @user_meeting5 != nil %>
            <div class="col-auto">
              <div class="card shadow mb-2 h-100" style="width: 30rem;">
                  <div class="card-header py-2">
                     <h2 class="m-2"><strong><%= @user_meeting5.name %></strong></h2>
                  </div>
                  <div class="card-body">
                    <% analyzed_5 = false %>
                    <% for file in @user_meeting5.file.attachments %>
                      <% if file.content_type == 'application/json' %>
                        <% analyzed_5 = true %>
                        <% download_file_from_s3('smartmeetingsbelieving', "./tmp/" + file.filename.to_s(), file.filename.to_s()) %>
                        <% json_from_file = File.read("tmp/" + file.filename.to_s()) %>
                        <% hash5 = JSON.parse(json_from_file, object_class: OpenStruct) %>
                        <% participants5 = "" %>
                        <% for i in hash5.total_time_spoken %>
                          <% participants5 = participants5 + i[0].to_s() + " " %>
                        <% end %>
                        <h3><strong> Participants:</strong> <%=participants5%> </h3>
                        <h3> <strong>Duration:</strong> <%= hash5.meeting_time %> </h3>
                        <h3> <strong>Tags:</strong>
                          <% for i in hash5.keywords %>
                            <span class="badge badge-pill pill badge-secondary"><%= i %></span>
                          <% end %>
                        </h3>
                      <% end %>
                    <% end %>
                    <% if !analyzed_5 %>
                      <h3> Not Yet Analyzed </h3>
                    <% end %>
                </div>
                <div class="card-footer bg-transparent border-0 text-center mb-3">
                  <% if @user_meeting5.file.attachments.first != nil %>
                    <tr>
                      <td><%= link_to 'Show', @user_meeting5, class:"btn btn-outline-primary btn-xl"%></td>
                      <td><%= link_to 'Edit', edit_meeting_path(@user_meeting5), class:"btn btn-outline-secondary btn-xl"%></td>
                      <td><%= link_to 'Delete', @user_meeting5, class:"btn btn-outline-secondary btn-xl", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% else %>
                      <tr>
                        <td><%= link_to "Upload Files", @user_meeting5, class:"btn btn-outline-primary btn-xl"%></td>
                        <td><%= link_to 'Delete', @user_meeting5, class:"btn btn-outline-secondary btn-xl", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>

      </div>
  </div>
</body>

<script>
  var colors = ['#B24159', '#6A92B5', '#7BA187', '#A28B9C', '#7AD1AB', '#DE74C1'];
  var random_color;
  var prev_color;
  var list = document.getElementsByClassName("pill");
  for (var i = 0; i < list.length; i++) {
      random_color = colors[Math.floor(Math.random() * colors.length)];
      if (i != 0){
          while (random_color==prev_color)
            random_color = colors[Math.floor(Math.random() * colors.length)];
      }
      prev_color = random_color;
      list[i].style.background = random_color;
  }
</script>
