<% if @json_from_file != 0 %>
  <% hash = JSON.parse(@json_from_file, object_class: OpenStruct) %>
<% end %>

<p id="notice"><%= notice %></p>
<% if @json_from_file != 0 %>
  <body class="body">
  <div class="container-fluid">
    <div class="row" style="margin: 60px 0 0 20px">
      <div class="col-2.5 col-md-2.5">
        <div class="card border-left-primary shadow h-30">
          <div class="card-body">
            <div class="border-bottom">
              <h1> <%= @meeting.name %></h1>
              <h3>Participants:</h3>
                  <ul class="no-bullets">
                    <% if !@meeting.user1.nil? %>
                      <li> <%= User.find(@meeting.user1).first %> </li>
                    <% end %>
                    <% if !@meeting.user2.nil? %>
                      <li> <%= User.find(@meeting.user2).first %> </li>
                    <% end %>
                    <% if !@meeting.user3.nil? %>
                      <li> <%= User.find(@meeting.user3).first %> </li>
                    <% end %>
                  </ul>
              </div>
            <div class="border-bottom pt-2">
              <h3>Tags:</h3>
              <ul class="no-bullets">
                <% if @json_from_file != 0 %>
                  <% for i in hash.keywords do %>
                        <li> <%= i %> </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
            <div class="pt-2" style="margin: 0 0 0 15px">
              <tr>
                <td><a class="btn btn-outline-secondary btn-lg" href="https://trello.com/b/nrl0o9rP/weekly-meetings" role="button" target="_blank" style="font-size:20px;">Trello</a></td>
                <td><%= link_to 'Back', meetings_path, class:"btn btn-outline-secondary btn-lg" %></td>
              </tr>
            </div>
          </div>
        </div>

      </div>

      <div class="col" style="margin: 0 0 0 5px">

        <% if @json_from_file != 0 %>
            <% participants = [] %>
            <% for i in hash.total_time_spoken %>
              <% participants.append(i[0]) %>
            <% end %>
            <div class="card shadow border-left-success mb-4 scroll">
              <div class="card-header cheader py-2 button-heading1">
                <div style="display:inline-block;vertical-align:middle;">
                    <img src="../../assets/expand.png" alt="expand" width="30" height="30"/>
                </div>
                <div style="display:inline-block;vertical-align:middle;">
                    <div><h3 class="highlight" style="span-text; margin-left:10px;"> View All </h3></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="accordion">
                    <div class="accordion-heading4">
                      <div class="card shadow border-left-success mb-4 scroll">
                        <div class="card-header cheader py-2">
                            <a class="accordion-toggle" data-toggle="collapse" href="#collapseFour">
                              <div style="display:inline-block;vertical-align:middle;">
                                  <img src="../../assets/file.png" alt="expand" width="40" height="40"/>
                              </div>
                              <div style="display:inline-block;vertical-align:middle;">
                                  <div><h3 class="highlight" style="span-text"> Suggestions </h3></div>
                              </div>
                            </a>
                        </div>
                        <div id="collapseFour" class="accordion-body collapse" style="height: 0px;">
                          <div class="accordion-inner">
                            <div class="card-body ml-5">
                              <%# <% s_keys = hash.meeting_suggestions.keys %>
                              <%# <% for i in s_keys %>
                                <%# <% if hash.meeting_suggestions[i].length != 0 %>

                                <%# <% end %>
                              <%# <% end %>
                              <p> Coming Soon </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card border-left-success shadow mb-4">
                  <div class="accordion">
                      <div class="accordion-heading2">
                        <div class="card-header cheader py-2">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseTwo">
                              <div style="display:inline-block;vertical-align:middle;">
                                  <img src="../../assets/diagram.png" alt="diagram" width="40" height="40"/>
                              </div>
                              <div style="display:inline-block;vertical-align:middle;">
                                  <div><h3 class="highlight" style="span-text"> Analytics Chart </h3></div>
                              </div>
                            </a>
                        </div>
                      </div>
                      <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                        <div class="accordion-inner">
                          <div class="card-body">
                            <nav class="nav-extended mt-5 mb-3">
                              <div class="nav-content">
                                <ul class="nav tabs-white justify-content-center" role="tablist">
                                  <li class="nav-item">
                                    <a id="view-all" class="nav-link waves-light active" data-toggle="tab" href="#panel1" role="tab">View All</a>
                                  </li>
                                  <li class="nav-item ml-0">
                                    <a class="nav-link waves-ligh" data-toggle="tab" href="#panel2" role="tab">Spoken Percentage</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link waves-light" data-toggle="tab" href="#panel3" role="tab">Action Items</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link waves-light" data-toggle="tab" href="#panel4" role="tab">Interruptions</a>
                                  </li>
                                </ul>
                              </div>
                            </nav>

                              <div class="tab-content rounded-bottom">
                                <div class="tab-pane fade in show active" id="panel1" role="tabpanel" style="margin:20px 30px 20px 20px">
                                  <div class="row">
                                    <div class="col col-md-4">
                                        <canvas id="speaker_chart"></canvas>
                                    </div>
                                    <div class="col col-md-4">
                                      <canvas id="action_chart"></canvas>
                                    </div>
                                    <div class="col col-md-4">
                                      <canvas id="interruption_chart"></canvas>
                                    </div>
                                  </div>
                                </div>
                                <div class="tab-pane fade" id="panel2" role="tabpanel" style="margin:20px 30px 20px 20px">
                                    <div style="margin:0 400px 0 400px">
                                      <canvas id="speaker_chart1"></canvas>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="panel3" role="tabpanel" style="margin:20px 30px 20px 20px">
                                  <div class="row">
                                    <div class="col col-md-6">
                                      <div style="margin:0 100px 0 100px">
                                        <canvas id="action_chart1"></canvas>
                                        <% spoken_data = [] %>
                                        <% spoken_participants = [] %>
                                        <% for entry in hash.total_time_spoken %>
                                         <% spoken_data.push(entry[1]) %>
                                         <% spoken_participants.push(entry[0]) %>
                                        <% end %>
                                      </div>
                                    </div>
                                    <div class="col col-md-6">
                                      <div class="card scroll overflow-auto" style="border:transparent !important;">
                                        <div class="card-body">
                                           <% action_counter = {} %>
                                           <h3><strong> Action Items </strong></h3>
                                           <div style="margin: 0 40px;">
                                             <% if hash.action_items.length != 0 %>
                                               <% for i in hash.action_items %>
                                                 <% if action_counter.include? i[0] %>
                                                   <% action_counter[i[0]] += 1 %>
                                                 <% else %>
                                                   <% action_counter[i[0]] = 1 %>
                                                 <% end %>
                                                 <p class="pb-2 border-bottom border-gray">
                                                   <strong class="d-block"><%= i[0] %></strong><%= i[1][0...-1].capitalize()%> </p>

                                               <% end %>
                                             <% else %>
                                               <p> No action items were said during the meeting. </p>
                                             <% end %>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                       <% action_data = [] %>
                                       <% for i in participants %>
                                          <% if action_counter.key?(i) == true %>
                                            <% action_data.push(action_counter[i]) %>
                                          <% else %>
                                            <% action_data.push(0) %>
                                          <% end %>
                                       <% end %>
                                </div>
                                <div class="tab-pane fade" id="panel4" role="tabpanel" style="margin:20px 30px 20px 20px">
                                  <div style="margin:0 300px 0 300px">
                                    <canvas id="interruption_chart1"></canvas>
                                    <% interruption_counter = {} %>
                                    <% if hash.interruption.to_s.length != 0 %>
                                      <% for i in hash.interruption %>
                                        <% interruption_counter[i[0]] = i[1] %>
                                      <% end %>
                                    <% else %>
                                      <p> None </p>
                                    <% end %>

                                    <% interruption_array = [] %>
                                    <% if hash.interruption.to_s.length != 0 %>
                                      <% for i in participants %>
                                        <% if interruption_counter.key?(i) == true %>
                                          <% interruption_array.append(interruption_counter[i])%>
                                        <% else %>
                                          <% interruption_array.append(0)%>
                                        <% end %>
                                      <% end %>
                                    <% end %>
                                    <% if interruption_array.length == 0 %>
                                      <%interruption_array.append(0)%>
                                    <% end %>

                                    <% if interruption_array.length > 0%>
                                      <% max_number = (interruption_array[0]+1)*2 %>
                                    <% else %>
                                      <% max_number = 0%>
                                    <% end %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <!-- Summary card -->
            <div class="accordion">
                <div class="accordion-heading1">
                  <div class="card shadow border-left-success mb-4 scroll">
                    <div class="card-header cheader py-2">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseOne">
                          <div style="display:inline-block;vertical-align:middle;">
                              <img src="../../assets/star.png" alt="star" width="40" height="40"/>
                          </div>
                          <div style="display:inline-block;vertical-align:middle;">
                              <div><h3 class="highlight" style="span-text"> Summary </h3></div>
                          </div>
                        </a>
                    </div>
                      <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
                        <div class="accordion-inner">
                          <div class="card-body">
                              <% temp = 0 %>
                              <% p = 0 %>
                              <% string_s = '' %>
                              <% for i in hash.summary %>
                                  <% if temp == 0 %>
                                    <% string_s = i[1][0...-1] %>
                                    <% p = i[0] %>
                                    <% temp = temp+1 %>
                                  <% else %>
                                    <% if p == i[0] %>
                                      <% string_s = string_s+ ' ' + i[1][0...-1] %>
                                      <% if temp == hash.summary.length-1 %>
                                        <p> <strong><%= p %></strong>: <%=string_s.capitalize()%></p>
                                      <% end %>
                                    <% else %>
                                      <p> <strong><%= p %></strong>: <%=string_s.capitalize()%></p>
                                      <% string_s = i[1][0...-1] %>
                                      <% p = i[0] %>
                                    <% end %>
                                    <% temp = temp+1 %>
                                  <% end %>

                              <% end %>

                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="accordion">
                      <div class="accordion-heading3">
                        <div class="card shadow border-left-success mb-4 scroll">
                          <div class="card-header cheader py-2">
                              <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseThree">
                                <div style="display:inline-block;vertical-align:middle;">
                                    <img src="../../assets/question.png" alt="question" width="40" height="40"/>
                                </div>
                                <div style="display:inline-block;vertical-align:middle;">
                                    <div><h3 class="highlight" style="span-text"> Questions </h3></div>
                                </div>
                              </a>
                          </div>
                          <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
                            <div class="accordion-inner">
                              <div class="card-body ml-5">
                                <% if hash.questions.length != 0 %>
                                  <% for i in hash.questions %>
                                  <p class="pb-2 border-bottom border-gray">
                                    <strong class="d-block"><%= i[0] %></strong><%= i[1].capitalize()%> </p>
                                  <% end %>
                                <% else %>
                                  <p> No questions were asked during the meeting. </p>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="accordion">
                      <div class="accordion-heading5">
                        <div class="card shadow border-left-success mb-4 scroll">
                          <div class="card-header cheader py-2">
                              <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseFive">
                                <div style="display:inline-block;vertical-align:middle;">
                                    <img src="../../assets/radio.png" alt="radio" width="40" height="40"/>
                                </div>
                                <div style="display:inline-block;vertical-align:middle;">
                                    <div><h3 class="highlight" style="span-text"> Transcription</h3></div>
                                </div>
                              </a>
                          </div>
                          <div id="collapseFive" class="accordion-body collapse" style="height: 0px;">
                            <div class="accordion-inner">
                              <div class="card-body ml-5">
                                <% temp1 = 0 %>
                                <% p1 = '' %>
                                <% string1 = '' %>
                                <% time1 = 0 %>
                                <% time2 = 0 %>
                                <% for i in hash.raw %>
                                  <% if temp1 == 0 %>
                                    <% string1 = i[1] %>
                                    <% p1 = i[0] %>
                                    <% temp1 = temp1+1 %>
                                    <% time1 = i[2] %>
                                    <% time2 = i[3] %>
                                  <% else %>
                                    <% if p1 == i[0] %>
                                      <% string1 = string1+i[1] %>
                                      <% time2 = i[3] %>
                                      <% if temp1 == hash.raw.length-1 %>
                                        <p><strong><%=p1%></strong> (<%= time1 %>, <%= time2 %>): <%=string1.capitalize()%></p>
                                        <% string1 = '' %>
                                      <% end %>
                                    <% else %>
                                      <p><strong><%=p1%> </strong>(<%= time1 %>, <%= time2 %>): <%=string1.capitalize()%></p>
                                      <% string1 = '' %>
                                      <% string1 = i[1] %>
                                      <% p1 = i[0] %>
                                      <% time1 = i[2] %>
                                      <% time2 = i[3] %>
                                      <% if temp1 == hash.raw.length-1 %>
                                        <p><strong><%=p1%></strong> (<%= time1 %>, <%= time2 %>): <%=string1.capitalize()%></p>
                                        <% string1 = '' %>
                                      <% end %>
                                    <% end %>
                                    <% temp1 = temp1+1 %>
                                  <% end %>
                                <% end %>
                              </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        <% end %>
      </div>
    </div>
  <!-- </div> -->
</body>
<% else %>
<div class="container">
  <div class="row justify-content-center mt-5">
    <!-- <div class="col-sm-9 col-md-7 col-lg-5 mx-auto"> -->
      <div class="card shadow my-2">
        <div class="card-body text-center">
          <h1 class="card-title text-center"><strong>Upload Meeting Files</strong></h1>
          <p>
          <% for file in @meeting.file.attachments do %>
                 <%= file.filename.to_s() %> <br />
          <% end %>
          </p>
          <%= render 'upload_form', meeting: @meeting %>
          <%# <%= button_to 'Analyze Meeting', meetings_analyze_path, method: :post, params: {id: @meeting.id}, class:"btn btn-outline-secondary btn-xl"%>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
<% end %>
<!-- Script -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.2.0/dist/chartjs-plugin-datalabels.min.js"></script>
<script type="text/javascript">

    var participants = <%=raw participants%>;
    //Speakers Percentage Chart
    var chart1 ={
         type: 'doughnut',
         data: {
           datasets: [{
             data: <%= raw spoken_data %>,
             backgroundColor: [
             'rgba(255,71,145,1)',
             'rgba(0,190,255,1)',
             'rgba(179,141,251, 1)',
             'rgba(106,169,255,1)',
             'rgba(67,215,217,1)'
             ],
             datalabels: {
						   anchor: 'center',
               align: 'center',
             }
           }],
           labels: participants
         },
         options: {
           maintainAspectRatio: true,
           legend: {
             position: 'right',
             labels: {
               fontSize:20,
               usePointStyle: true
             },
              position: 'right',
           },
           title:{
             display: true,
             text:'Spoken Percentages',
             fontSize:30,
           },
           tooltips: {
             titleFontSize: 25,
             bodyFontSize: 25
           },
           animation: {
             // animateScale: true,
             animateRotate: true
           },
           plugins:{
             datalabels:{
               color:"white",
               display: true,
               font: {
    							weight:'bold',
                  size:25,
    						},
                formatter: function(value, context) {
                    return Math.round(value*100) + '%';
                }

               // formatter:Math.multiple(100),
             }
           }
         }
     };
     //Action data chart
    var chart2 = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: <%= raw action_data %>,
          backgroundColor: [
            'rgba(255,71,145,1)',
            'rgba(0,190,255,1)',
            'rgba(179,141,251, 1)',
            'rgba(106,169,255,1)',
            'rgba(67,215,217,1)'
          ],
          label: 'Dataset 1'
        }],
        labels: participants
      },
      options: {
        maintainAspectRatio: true,
        legend: {
          position: 'right',
          labels: {
            fontSize:20,
            usePointStyle: true
          }
        },
        title:{
          display: true,
          text:'Action Items Frequency    ',
          fontSize:30,
        },
        tooltips: {
          titleFontSize: 25,
          bodyFontSize: 25
        },
        animation: {
          animateScale: true,
          animateRotate: true
        },
        plugins:{
          datalabels:{
            color:"white",
            display: function(context) {
              return context.dataset.data[context.dataIndex] !== 0;
            },
            font: {
               weight:'bold',
               size:25,
             },

            // formatter:Math.multiple(100),
          }
        }
      }
    };
  var chart3 = {
      type: 'bar',
      data: {
          labels: participants,
          datasets: [{
              label: '# of Interruptions',
              data: <%=raw interruption_array%>,
              backgroundColor: [
                  'rgba(255,71,145,1)',
                  'rgba(0,190,255,1)',
                  'rgba(179,141,251, 1)',
                  'rgba(106,169,255,1)',
                  'rgba(67,215,217,1)'
              ],
              borderColor: [
                  'rgba(255,71,145,1)',
                  'rgba(0,190,255,1)',
                  'rgba(179,141,251, 1)',
                  'rgba(106,169,255,1)',
                  'rgba(67,215,217,1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          maintainAspectRatio: true,
          legend: {
            display: true,
            labels:{
              fontSize:20,
            }
          },
          title:{
            display: true,
            text:'Interruptions',
            fontSize:30,
          },
          tooltips: {
            titleFontSize: 25,
            bodyFontSize: 25
          },
          max: 5,
          scales: {
              xAxes:[{
                ticks:{
                  fontSize:20
                }
              }],
              yAxes: [{
                  ticks: {
                      beginAtZero: true,
                      max: <%= raw max_number %>,
                      fontSize:25,
                      stepSize:1
                  }
              }],
            animation: {
              animateScale: true
            }
          },
          plugins:{
            datalabels:{
              color:"white",
              display: function(context) {
                return context.dataset.data[context.dataIndex] !== 0;
              },
              font: {
                 weight:'bold',
                 size:25,
               },
              // formatter:Math.multiple(100),
            }
          }
      }
    };

    $('.button-heading1').click(function() {
      $('#collapseOne').collapse('toggle');
      $('#collapseTwo').collapse('toggle');
      $('#collapseThree').collapse('toggle');
      $('#collapseFour').collapse('toggle');
      $('#collapseFive').collapse('toggle');
    });

    $('.accordion-heading1').click(function() {
      $('#collapseOne').collapse('toggle');
    });
    $('.accordion-heading2').click(function() {
      $('#collapseTwo').collapse('toggle');
    });
    $('.accordion-heading3').click(function() {
      $('#collapseThree').collapse('toggle');
    });
    $('.accordion-heading4').click(function() {
      $('#collapseFour').collapse('toggle');
    });
    $('.accordion-heading5').click(function() {
      $('#collapseFive').collapse('toggle');
    });

    setTimeout(() => {
      $('#collapseOne').collapse('toggle');
      $('#collapseTwo').collapse('toggle');
      $('#collapseThree').collapse('toggle');
      $('#collapseFour').collapse('toggle');
      $('#collapseFive').collapse('toggle');
    }, 100);
    setTimeout(() => {
      var ctx = document.getElementById('speaker_chart').getContext('2d');
      ctx.canvas.width = 180;
      ctx.canvas.height = 180;
      var ctx2 = document.getElementById('action_chart').getContext('2d');
      ctx2.canvas.width = 180;
      ctx2.canvas.height = 180;
      var ctx4 = document.getElementById('interruption_chart').getContext('2d');
      ctx4.canvas.width = 200;
      ctx4.canvas.height = 200;
      window.myDoughnut = new Chart(ctx, chart1);
      window.myDoughnut = new Chart(ctx2, chart2);
      window.myBar = new Chart(ctx4, chart3);
    }, 500);

    setTimeout(() => {
      var ctx = document.getElementById('speaker_chart1').getContext('2d');
      ctx.canvas.width = 100;
      ctx.canvas.height = 100;
      var ctx2 = document.getElementById('action_chart1').getContext('2d');
      ctx2.canvas.width = 100;
      ctx2.canvas.height = 100;
      var ctx4 = document.getElementById('interruption_chart1').getContext('2d');
      ctx4.canvas.width = 180;
      ctx4.canvas.height = 120;
      window.myDoughnut = new Chart(ctx, chart1);
      window.myDoughnut = new Chart(ctx2, chart2);
      window.myBar = new Chart(ctx4, chart3);
    }, 100);
</script>
