<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <b>Attached File: </b>
  <%= @user.file.attachments.first.filename %>
</p>

<p>
  <b>Blob: </b>
   <%= render file: "./tmp/" + @user.file.attachments.last.filename.to_s() %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
