<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Meeting 1:</strong>
  <%= @user.meeting_1 %>
</p>

<p>
  <strong>Meeting 2:</strong>
  <%= @user.meeting_2 %>
</p>

<p>
  <strong>Meeting 3:</strong>
  <%= @user.meeting_3 %>
</p>

<p>
  <strong>Meeting 4:</strong>
  <%= @user.meeting_4 %>
</p>

<p>
  <strong>Meeting 5:</strong>
  <%= @user.meeting_5 %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
